 /* Code start here */
 /* Adjust box width or height */
 * {
     margin: 0;
     padding: 0;
 }
 body
 {
    color: grey;
    font-family: 'Hind', sans-serif;
font-family: 'Roboto', sans-serif;
 }

 .start-main {

     height: 80vh;
     width: 80vw;
     position: absolute;
     color: black;
     background-color: white;
     left: 50%;
     top: 35%;
     transform: translate(-50%, -80%);
     /* box-shadow: 0 7px 6px gainsboro; */

 }

 .handing {
     width: 100vw;
     height: 100vw;
     background: white;
     position: relative;
 }

 .start-main li{
    letter-spacing: 1.5px;
    list-style:circle;
 }
 /* Add first photo here */

 .pic1
 {
    /* padding-right: 100px; */
    text-align: center;
 }

 /* Target pic-2 center */
 .pic2
{
    text-align: center;
    justify-content: center;
    transition: transform .2s;
}
.pic2:hover
{
    transform: scale(1.2);
}
.pic-3
{
    text-align: center;
    transition: transform .2s;
}
.pic-3:hover{
    transform: scale(1.2);

}
/* Add next-page*/
.next-page 
{   
    font-size: 30px;
    text-align: right;
 

}
.next-page a{
    text-decoration: none;

}
.next-page a:hover
{
    color: rgb(237, 7, 19);
}
/*Footer details add */
.foooter-info
{ text-align: center;

    display: block;
}
.foooter-info a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
/* Add writer or designer name*/ 

.writer
{
    text-align: center;
}
.designer
{
    text-align: center;
}
/* Pic -4 */
.pic4 

{
    text-align: center;
    
}
.pic4 img
{
    height: 200px;
    width: 550px;
    transition: transform .2s;
}
.pic4:hover {
    transform: scale(1.2); /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  } 

  /* Pic -5 adjust*/
  .pic5
{
    text-align: center;
}
.pic5 img{
    width: 500px;
    height: 500px;
    transition: transform .2s;
}
.pic5 :hover
{
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
code
{
font-weight: 500px;
font-size: 17px;
font-style: initial;
}

/*Footer adjust */
.adjust
{
height:  30px;
width: 100vw;
}

/* Adjust footer */
.adjust
{
    text-align: center;
    color: blue;
}

/* Add code in boxes....*/
.chain-1
{
    margin: 140px;
}
.mycode1
{
    width: 600px;
    height: 34vh;
    background-color: black;
    box-shadow: 0 8px 10px black;
}
.chain-1 p{
 text-decoration-style: wavy;
     padding-left: 12px;
     color: white;
}

.chain-1 h4{
   padding-left: 12px;
   color: red;
}

/* Code-2 box */
.code-chain2
{

     width: 50vw;
     height: 40vh;
     background-color: black;
     box-shadow: 0 8px 10px gray;
}

.box3
{
    width: 600px;
    
    height: 45vh;
    background-color: black;
    box-shadow: 0 8px 10px black;

}
.code-chain3 h4{
    padding-left: 12px;
    margin-top: 2px;
    color: red;
}

.code-chain3 p
{
    padding-left: 12px;
    margin: 4px;
color: white;
}

/* code box 4 */

.box4
{
    width: 600px;
    height: 32vh;
  background-color: black;
 box-shadow:  0 8px 12px;
}
 
/*Style in code-4 text */

.box-chain-4 h4{
color: red;
padding-left: 12px;
}
.box-chain-4 p{
    color:white ;
    padding-left: 12px;
}


/*box 2 code*/
.code-box2 h4
{
 color: red;
 padding-left: 12px;

}

.code-box2 p
{
    padding-left: 12px;
 
color: aliceblue;

}








