 /* Code start here */
 /* Adjust box width or height */
 * {
     margin: 0;
     padding: 0;
 }
 body
 {
    color: gray;
    font-family: 'Hind', sans-serif;
font-family: 'Roboto', sans-serif;
 }

 .start-main {

     height: 80vh;
     width: 80vw;
     position: absolute;
     color: black;
     background-color: white;
     left: 50%;
     top: 35%;
     transform: translate(-50%, -80%);
     /* box-shadow: 0 7px 6px gainsboro; */

 }

 .handing {
     width: 100vw;
     height: 100vw;
     background: white;
     position: relative;
 }

 .start-main li{
    letter-spacing: 1.5px;
    list-style:circle;
 }
 /* Add first photo here */

 .pic1
 {
    /* padding-right: 100px; */
    text-align: center;
 }

 /* Target pic-2 center */
 .pic2
{
    text-align: center;
    justify-content: center;
    transition: transform .2s;
}
.pic2:hover
{
    transform: scale(1.2);
}
.pic-3
{
    text-align: center;
    transition: transform .2s;
}
.pic-3:hover{
    transform: scale(1.2);

}
/* Add next-page*/
.next-page 
{   
    font-size: 30px;
    text-align: right;
 

}
.next-page a{
    text-decoration: none;

}
.next-page a:hover
{
    color: rgb(237, 7, 19);
}
/*Footer details add */
.foooter-info
{ text-align: center;

    display: block;
}
.foooter-info a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
}