
body
{
    height: 400px;
    display: inline-flex;
    /* letter-spacing: 10px; */
    justify-content: space-between;
    place-items: center;
  background-color: rgb(134, 134, 77);
}
h2
{

    font-size: 3.2rem;
    color: black;

}
p
{
    font-size: 1.7rem;  
}
section
{
    display: flex;
    /* justify-content:space-around; */
    width: 100%;
    align-items: center;

}

.counter
{
    align-items: center;
}